@page "/foodItems/{id:guid}"

@using TDiary.Web.Pages.Base
@using TDiary.Web.ViewModels

@inherits EditBase<FoodItemViewModel>;

<div class="d-flex mb-5">
	<h2 class="d-flex align-center">Edit Food item</h2>
</div>

<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="ml-0 mr-0 pa-0">
	@if (isBusy)
	{
		<MudProgressCircular Color="Color.Primary" Indeterminate="true" />
	}
	else
	{
		<EditForm EditContext="@EditContext" OnValidSubmit="OnValidSubmit">
			<MudTextField Label="Name" @bind-Value="Model.Name" For="@(() => Model.Name)" />
			<MudTextField Label="Calories" @bind-Value="Model.Calories" For="@(() => Model.Calories)" />
			<MudTextField Label="Carbohydrates" @bind-Value="Model.Carbohydrates" For="@(() => Model.Carbohydrates)" />
			<MudTextField Label="Proteins" @bind-Value="Model.Proteins" For="@(() => Model.Proteins)" />
			<MudTextField Label="Fats" @bind-Value="Model.Fats" For="@(() => Model.Fats)" />
			<MudTextField Label="SaturatedFats" @bind-Value="Model.SaturatedFats" For="@(() => Model.SaturatedFats)" />
			@*
		<MudAutocomplete T="string" Label="Brand" @bind-Value="value1" SearchFunc="@Search1"
		ResetValueOnEmptyText="@resetValueOnEmptyText"
		CoerceText="@coerceText" CoerceValue="@coerceValue" />

		<MudFab ButtonType="ButtonType.Submit" Color="Color.Primary" Icon="@Icons.Material.Filled.Save" Size="@Size.Medium" Class="ml-auto mt-5"></MudFab>*@
		</EditForm>
	}
</MudContainer>


